.menuCircle{
    transition: var(--transition);
    margin: 3rem 0;
    font-family: 'Oxygen', sans-serif;
    /*font-family: 'Handlee', cursive;*/
}

.menuCircle:hover {
    filter: var(--filter)
}

.answerCircle {
    max-width: 15vw;
    transition: var(--transition);
    cursor: pointer;
}

.answerCircle:hover {
    filter: var(--filter)
}

@media only screen and (max-width: 1200px) {
    .answerCircle {
        max-width: 25vw;
    }
    
}